@import "colors.scss";

:export {
  primary: $primary
}

$font-family-sans-serif: "Work Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.75rem;

//Bootstrap
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

body {
  color: $secondary;
  section {
    min-height: 100vh;
    padding-top: 2rem;
    &:nth-of-type(odd) {
      background-color: $white;
      h1.section-title {
        text-align: center;
        text-decoration: underline solid $primary 4px;
      }
    }
    &:nth-of-type(even) {
      background-color: $light;
      h1.section-title {
        text-align: center;
        text-decoration: underline solid $primary 4px;
      }
    }
    &:last-of-type() {
      background-color: $danger;
      min-height: auto;
      padding-bottom: 2rem;
    }
  }
}
