$primary: #25a28c;
$secondary: #434456;
$success: #2579a2;
$warning: #ff9800;
$danger: #a2253b;
$info: #2eccb0;

#home {
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
$font-family-sans-serif: "Work Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.75rem;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
